

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: normal;
    max-width: 100%;
    overflow-x: hidden;
}

.page {
    max-width: 1400px;
    margin: auto;
}

.logo {
    float: left;
    height: 40px;
    margin-top: -96px;
} 

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    float: right;
    margin-top: -151px;
}

.list_in1 {
    display: inline-flex;
}
.list_in2 {
    display: inline-flex;
    
}

.nav_sign {
    display: flex;
    align-items: center;
    margin-right: 85px;
}

.nav_menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mini_list {
   margin-left: 30px;
} 
.mini_list {
    padding-top: 55px 
} 
.list_out {
    padding-top: 55px;   
} 

.mini_list:hover {
    color: #0065fc;
    border-top: 1px solid #0065fc;
    
}
.sign_in {
    color: #0065fc;
    font-weight: bold;    
} 

li { list-style-type: none;}
    
a {
    text-decoration: none;
    color: black;
}

.titre1 {
    margin-top: 135px;
    font-weight:bold;
    font-size: 25px;
}

.paragraph { 
    font-weight: lighter;
    font-style: normal;
}

.head {
    margin-bottom: 26px;
}

/* mise en forme de la barre de recherche */

.search {
    display: flex;
}

.map {
   
    border: 1px solid black;
    color: #000; 
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: whitesmoke;
}
.map i {
    margin: 17px 15px;
}

.middle {
    cursor: pointer;
    border: none;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    opacity: 1;
    height: 50px;
    line-height: 50px;
}

.search_button {
    width: 8%;
    font-size: 15px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #0065fc;
    color:#fff;
    border: none;
   
}
.loupe {
    display: none;
}

/* mise en forme des filtres */
.filter {
    margin-right: 10px;
    font-weight: bolder;
    font-size: 18px;
}

.form_demo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 30px;
}
    
.filter_eco {
    display: flex;
    border: 3px solid black;
    padding: 0px 30px 0px 0px;
    border-top-left-radius: 60px;
    border-left: none;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #dcdfdfd7;
    margin-left: 30px;
}


.filter_eco:hover {
    background-color:#deebff;
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.2s all ease-in;
}    

.icon_money {
    border: 3px solid black;
    padding: 18px 18px 18px 18px;
    border-radius: 50%;
    border: none;
    color: #0065fc;
    background-color: #deebff;
}

.money {
    padding-left: 15px;
    padding-top: 20px;
    font-weight: bolder;
}
   
.filter_child {
    display: flex;
    border: 3px solid black;
    margin-left: 30px; 
    padding: 0px 20px 0px 0px;
    border-top-left-radius: 60px;
    border-left: none;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #dcdfdfd7;  
}
    
.icon_child {
    border: 1px solid black;
    padding: 17px 20px 17px 19px;
    border-radius:50%;
    border: none;
    color: #0065fc;
    background-color: #deebff;
}

.child {
    padding-left: 15px;
    padding-top: 20px;
    font-weight: bolder;
}
.filter_child:hover {
    background-color:#deebff;
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.2s all ease-in;
}    

.filter_love {
    display: flex;
    border: 3px solid black;
    margin-left: 30px;
    padding: 0px 30px 0px 0px;
    border-top-left-radius: 60px;
    border-left: none;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #dcdfdfd7;
}
.icon_love {
    border: 1px solid black;
    padding: 17px 20px 17px 19px;
    border-radius:50%;
    border: none;
    color: #0065fc;
    background-color: #deebff;
}
.love {
    padding-left: 15px;
    padding-top: 20px;
    font-weight: bolder;
}
.filter_love:hover {
    background-color:#deebff;
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.2s all ease-in;
}  

.filter_dog {
    display: flex;
    border: 3px solid black;
    margin-left: 30px; 
    padding: 0px 20px 0px 0px;
    border-top-left-radius: 60px;
    border-left: none;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #dcdfdfd7;  
}
    
.icon_dog {
    border: 1px solid black;
    padding: 17px 20px 17px 19px;
    border-radius:50%;
    border: none;
    color: #0065fc;
    background-color: #deebff;
}

.dog {
    padding-left: 12px;
    padding-top: 20px;
    font-weight: bolder;
}
.filter_dog:hover {
    background-color:#deebff;
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.2s all ease-in;
}    

.info {
    display: flex;
    align-items: baseline;
    margin-top: 25px;
    margin-bottom: 25px;
}

.icone_info {
    border: 1px solid black;
    padding: 1px 6px 1px 6px;
    border-radius: 50%; 
    margin-right:8px;
    color: #0065fc;
    background-color: #fff;
    border-color: #dcdfdfd7;
    font-size: 0.8em;
    font-weight: lighter;
} 

.titre_info {
    font-weight: lighter;
    font-style: normal;
}

/* mise en forme de la section hebergements */


.heberg_marseille {
    background-color:#f2f2f2 ;
    height: auto;
    flex: 75%;
    border-radius: 20px;
    padding-left: 1% ;
    padding-right: 1%;
}
    
.carte_heberg img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
    
.contenu_heberg {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}

.carte_heberg {
    height: 194px;
    border-radius: 15px;
    background-color: #fff;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    flex-basis: 30%;
    margin-top: 20px;
}
    
.carte_heberg:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc; 
    z-index: 1;
    box-shadow: 0px 0px 8px 3px rgb(200 200 200 );
    transition: 0.2s;
}  
    
.star_icon {
    display: inline-block;
    font-size: 10px;
    color: #0065fc;
}
.grey_star{
    color: grey;
}
    
h3, h6 {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
}  

.star_icon, h3, h6, p{
    box-sizing: border-box;
    margin :0;
    padding: 0;
}

.carte_heberg div,.carte_heberg p, .carte_heberg h3{
    margin-left: 10px;
}

.other_page {
    padding-bottom: 15px;
    margin-top: 40px;
    margin-left: 58px;
    font-weight: bold;
    font-size: 17px;
}

/* Mise en forme du contenu les plus populaires */
.carte_heberg p, .contenu_populair p {
    font-size: 12px;
    font-weight: lighter;
}
.carte_heberg h3 {
    margin-top: 10px;
}
.carte_heberg p {
    margin-top: 5px;
}
.price {
    font-weight: bold;
}
.tittle_pop {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart_icon {
    margin-top: 19.9px;
    margin-right: 25px;
    font-size: 1.5em;
    font-weight: bold;
} 

.carte_pop img {
    height: 130px;
    width: 150px;
    object-fit: cover;
    float: left;
    margin-bottom: 6px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 17px; 
}
   
.carte_pop {
    width: 304px;
    margin-top: 18px; 
    height: 135px;
    border-radius: 15px;
    background-color: #fff;
    padding: 5px 0px 0px 5px;
    box-shadow: 0px 2px 6px rgb(230 230 230);
    margin-left: 35px;
    border-radius: 20px;
}

.carte_pop p {
    padding-top: 5px;
}

.carte_pop p, .carte_pop h3 {
    margin-top: 10px; 
}
    
.contenu_populair {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.carte_pop:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc; 
    z-index: 1;
    box-shadow: 0px 0px 8px 3px rgb(200 200 200);
    transition: 0.2s;
}  
   
.carte_pop h3 p div {
    float: right;
} 

.plus_populair {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 5%;
}  

.principal {
    display: flex ;
    flex-direction: row;
    margin-bottom: 50px;
}
/* mise en forme du contenu "Activités à marseille" */

.activ1 img {
    object-fit: cover;
    width: 100%;
    height: 22vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
.activ4 img {
    object-fit: cover;
    width: 100%;
    height: 22vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
    
.activ2 img{
    object-fit: cover;
    width: 100%;
    height: 10vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    
}
.activ3 img {
    object-fit: cover;
    width: 100%;
    height: 6vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
.activ5 img {
    object-fit: cover;
    width: 100%;
    height: 7.8vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
.activ6 img {
    object-fit: cover;
    width: 100%;
    height: 8.9vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

.activ_list1 {
    display: flex;
    flex-direction: column;
    margin: 15px 15px 0 5px; 
} 
.activ_list4 {
    display: flex;
    flex-direction: column;
    margin-top: 15px; 
} 
.activ_list23 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 15px 23px 0 12px; 
}

.activ_list56 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 15px 60px 0 20px; 
}

.activites_list  {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    
} 
.activ1 {
    background-color: #fff;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 0 6px 0px #b1b1b1;
    box-sizing: content-box; 
    height: 100%;
    max-width: 365px;
    min-width: 200px;
}
.activ1:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    color: #0065fc; 
    transition: 0.2s ;
    z-index: 1;
}
.activ4 {
    background-color: #fff;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 0 6px 0px #b1b1b1;
    box-sizing: content-box; 
    height: 100%;
    max-width: 365px;
    min-width: 200px;
}
.activ4:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    color: #0065fc; 
    transition: 0.2s ;
    z-index: 1;
}
h6 {margin-bottom: 18px;
    margin-left: 25px;
    margin-top: 8px;
} 
.activ1 h6 {
    padding-bottom: 6px;
}
.activ4 h6 {
    padding-bottom: 5px;
}

.activ2 {
    flex-basis: 52%;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    padding: 0;
    border-radius: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 250px;
} 

.activ3 {
    flex-basis: 37%;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    padding: 0;
    margin-bottom: 0;
    border-radius: 20px;
    box-sizing: border-box;
    width: 250px;
} 

.activ5 {
    flex-basis: 45%;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    padding: 0;
    margin-bottom: 29px;
    border-radius: 20px;
    box-sizing: border-box;
    width: 235px;
}
.activ6 {
    flex-basis: 47%;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    padding: 0;
    border-radius: 20px;
    box-sizing: border-box;
    width: 235px;
} 

.activ2:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc;
    overflow-x: hidden;
    box-shadow: 0px 0px 6px 0px #b1b1b1;
    transition: 0.2s;
    z-index: 1;
}

.activ3:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc;
    overflow-x: hidden;
    box-shadow: 0px 0px 6px 0px #b1b1b1;
    transition: 0.2s;
    z-index: 1;
}
.activ5:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc; 
    overflow-x: hidden;
    box-shadow: 0px 0px 6px 0px #b1b1b1;
    transition: 0.2s;
    z-index: 1;
}
.activ6:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc; 
    overflow-x: hidden;
    box-shadow: 0px 0px 6px 0px #b1b1b1;
    transition: 0.2s;
    z-index: 1;
}

.tittle1 {margin-left: 25px;}
.tittle2 {margin-left: 20px;}


/* mise en forme pied de page */

.footer_help {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer_heberg {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer_info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 16rem;   
}
.footer_nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
}
.titre_foot {
    font-weight: bold;
}
.pied_page {
    margin-bottom: 12px;
}
.footer_heberg {
    margin-right: 15rem;
    margin-top: -35px;
}
.footer_help {
    margin-top: -35px;
}
.pied_page:hover {
    color: #0065fc;
} 
.footer {
    background-color: #f2f2f2;
}

         /* Media Queries */
         

@media screen and (min-width: 1000px) { /* Media Queries Desktop */
   
    .logo, .navbar, .titre1, .paragraph, .search, .form_demo, .info {
        margin-left: 3%;
    }
    .search_button {
        width: 10%;
    }
    .heberg_marseille {
        margin-right: -2%;
    }
    .carte_heberg {
        width: 31%;
        flex-basis: unset;
    }
    .plus_populair {
        margin-right: 4%;
    }
    .carte_pop {
        margin-left: 23px;
        margin-right: 20px;
    }
    h3, h6 {
        font-size: 16px;
    } 
    .carte_heberg p, .contenu_populair p {
        font-size: 14px;
    } 
    .footer_heberg {
        margin-left: -10rem;
    }
    .footer_help {
        margin-left: 5rem ;
    }
}  
@media screen and (min-width:551px) and (max-width: 999px) { /* Media Queries Tablet */
    
    .logo, .titre1, .paragraph, .navbar, .search, .form_demo, .info {
        margin-left: 5%;
    }
    .search_button {
        display: none;
    }
    .loupe {
        position: relative;
        display: block;
        background-color: #0065fc;
        height: 54px;
        width: 50px;
        border-radius: 10px;
        line-height: 50px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 18px;
    } 
    .filter_dog {
        margin-top: 5px;
    }
    .filter_love {
        margin-top: 5px;
    }
    .tittle3 {
        margin-top: 92px;
        margin-left: 36px;
    }
    .principal {
        display: flex ;
        flex-direction: column-reverse !important;
    }
    .plus_populair {
        margin-left: 30px;
        padding-bottom: 25px;
        margin-top: -70px;
    }
    .tittle_pop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tittle2 {margin-left: 12px;}
    .carte_pop {
        width: 90vw;
        height: 100%;
        margin-left: 15px;
    } 
    .heberg_marseille {
        flex: 100%;
        margin-right: 14px;
        margin-left: 14px;
        margin-top: 40px;
    }
    .contenu_heberg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }   
    .carte_heberg img {
        height:27vw;
        width: 100%;
    }
    .carte_heberg {
        height: unset;
        flex-basis: 45%;
        margin-top: 30px;
    } 
    .other_page {
        font-size: 1.2rem;
    }
    h3, h6 {
        font-size: 16px;
    } 
    .carte_heberg p, .contenu_populair p {
        font-size: 14px;
    }
    .activites_list {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .activ_list1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }
    .activ_list4 {
    display: flex;
    flex-direction: row;
    margin-top:0; 
    justify-content: center;
    margin-bottom: 15px;
    }
    .activ_list23 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 10px 15px;
    }
    .activ1 {
        max-width: unset; 
        width: 80%;
    }
    .activ4 { 
        width: 80%;
        max-width: unset; 
        margin: 0 15px 15px 15px;
    }
    .activ2 {
        flex-basis: 46%;
        margin: 15px 5px 15px 20px;
    }
    .activ3 {
        flex-basis: unset;
        margin: 15px 5px 15px 5px;
        width: 47%;
    }
    .activ_list56 {
        display: flex;
        flex-direction: row;
        margin: 0;
        flex-wrap: wrap;
    }
    .activ5 {
        flex-basis: 48%;
        width: 80%;
        margin: 0px -7px 0 5px;
    }
    .activ6 {
        flex-basis: 45%;
        width: 80%;
        margin: 0px 5px 0 22px;
    }
    .activ1 img {
        width: 100% ;
        height: 32vw;
    }
    .activ2 img {
        width: 100% ;
        height: 32vw;
    }
    .activ3 img {
        width: 100% ;
        height: 32vw;
        margin-top: 1px;
    }
    .activ4 img {
        width: 100% ;
        height: 32vw
    }
    .activ5 img {
        width: 100% ;
        height: 32vw;
    }
    .activ6 img {
        width: 100% ;
        height: 32vw;
    }
    .footer_nav {
        display: flex;
        margin-top: 50px;
        flex-direction: column;
    }
    .footer_info {
       margin-right: 0;
    }
    .footer_heberg {
       margin-right: 4rem;
       margin-top: 0;
    }
    .footer_help {
        margin-right: 7rem;
        margin-top: 0;
    }
    .titre_foot {
        text-align: left;
    } 
    h4 {
        font-size: 18px;
    }
}

/* Media Queries mobiles */
@media screen  and (max-width: 550px) { /* Media Queries pour des Mobile de taille L,M,S */
    .logo, .titre1, .paragraph, .search, .form_demo, .info { 
        margin-left: 5%;
    }
    .titre1 {
        padding-top: 40px;
        border-top: 3px solid #f2f2f2;
        font-size: 20px;
    }
    .navbar {
        margin-top: -100px;
    }
    .nav_sign {
        margin-right: 0;
        position: absolute;
        top: -3%;
        right: 4%; 
        margin-right: 0;
    }
    .nav_menu ul {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .list_in1 {
        position: absolute;
        left: 0;
    }
    .list_in2 {
       position: absolute;
       right: 10%;
    } 
    .mini_list {
        padding-bottom: 11px;
    }
    .mini_list:hover { 
        color: #0065fc;
        border-bottom: 1px solid #0065fc;
        border-top: none;
    }
    .middle {
        width: 65%;
    }
    .search_button {
        display: none;
    }
    .loupe {
        position: relative;
        display: block;
        background-color: #0065fc;
        height: 54px;
        width: 50px;
        border-radius: 10px;
        line-height: 50px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
    }
    .form_demo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .filter_eco, .filter_child, .filter_love, .filter_dog {
        margin-top: 15px;
    }
    .principal {
        display: flex ;
        flex-direction: column-reverse !important;
        align-items: center;
        float: none;
    }
    .titre_info {margin-bottom: 70px;}
    .tittle1 {margin-left: 2px;}
    .tittle3 {
        margin-top: -2rem;
        margin-bottom: 0;
        margin-left: 10px;
    }
    .plus_populair {
        float: none;
        padding: 14px;
        flex: none;
        margin-left: 0;
    }
    .chart_icon {
        margin-right: 5px;
    }
    .tittle_pop {
        display: flex;
        align-items: baseline;
    }
    .contenu_populair{
        flex-wrap: nowrap;
    }
    .carte_pop {
        margin-left: 0;
        width: 90vw;
    }
    .heberg_marseille {
        flex: none;
        margin-right: 0;
        margin-top: 50px;
        background-color: #fff;
    }
    .contenu_heberg {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        flex-wrap: nowrap;
    }
    .carte_heberg {
        box-shadow: 0 0 6px 0 #b1b1b1;
        flex: 0%;
        width: 94%;
        margin-left: 10px;
    } 
    .carte_heberg img {
        height: 110px;
        width: 100%;
    }
    .activites_list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 20px;
        align-items: center;
    }
    .activ_list56 {
        margin: 0;
    }
    .activ1, .activ2, .activ3, .activ4, .activ5, .activ6 {
        flex: 0%;
        width: 90vw;
    }
    .activ1, .activ4 { 
        max-width: unset; 
        min-width: unset ;
    }
    .activ2, .activ5 {
        margin-top: 20px;
    }
    .activ1 img, .activ2 img, .activ3 img, .activ4 img, .activ5 img, .activ6 img {
        width: 100%;
        height: 190px;
    }
    .footer {
        width: 100%;
    }
    .footer_nav {
        display: flex;
        align-items: flex-start;
        margin: unset;
        margin-top: 50px;
        flex-direction: column;
    }
    .footer_info {
        margin-right: 0;
        margin-left: 5%;
        margin-bottom: -2rem;
    } 
    .footer_heberg {
        margin-right: 0;
        margin-left: 5%;
        margin-top: 2rem;
    }
    .footer_help {
        margin-left: 5%;
        margin-top: 0;
    }
   
}