

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');




body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: normal;
    max-width: 100%;
    overflow-x: hidden;
}

.page {
    max-width: 1400px;
    margin: auto;
}
    
.logo {
    height: 40px;
    float: left;
    margin-top: 34px;
} 
    
    
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    float: right;
    margin-top: 50px;
} 
       
.overline:hover {
    color: #0065fc;
    border-top: 1px solid #0065fc;
    padding-top: 49px;
    
}

.blue {
    color: #0065fc;
    font-weight: bold;
}
    
a {
    text-decoration: none;
    padding-right: 20px;
    color: black;
    padding-left: 20px;
}

li{
    list-style-type: none;
} 
    
h1 {
    margin-top: 150px;
    font-weight:bold;
    font-size: 1.5rem;
}

p { margin: 0;
    font-weight: lighter;
    font-size: 1.4;
    font-style: normal;
}

/* mise en forme de la barre de recherche */

.search {
    display: flex;
}

.map {
    width: 2%;
    border: 1px solid black;
    padding: 15px 30px;
    padding-left: 16px;
    color: #000; 
    background-color: whitesmoke;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: whitesmoke;
}

.middle {
    cursor: pointer;
    border: 1px solid whitesmoke;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    opacity: 1;
    height: 50px;
    line-height: 50px;
}

.search_button {
    width: 8%;
    font-size: 15px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #0065fc;
    color:#fff;
    border: none;
   
}
.loupe {
    display: none;
}

/* mise en forme des filtres */
.filter {
    margin-right: 10px;
}

.form_demo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    float: left;
    margin-top: 30px;
}
    
.filter_eco {
    display: flex;
    border: 3px solid black;
    padding: 0px 30px 0px 0px;
    border-top-left-radius: 60px;
    border-left: none;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #dcdfdfd7;
}


.filter_eco:hover {
    background-color:#deebff;
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.2s all ease-in;
}    

.icon_money {
    border: 3px solid black;
    padding: 18px 18px 18px 18px;
    border-radius: 50%;
    border: none;
    color: #0065fc;
    background-color: #deebff;
}

.money {
    padding-left: 15px;
    padding-top: 20px;
    font-weight: bolder;
}
   
.filter_child {
    display: flex;
    border: 3px solid black;
    margin-left: -12px; 
    padding: 0px 20px 0px 0px;
    border-top-left-radius: 60px;
    border-left: none;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #dcdfdfd7;  
}
    
.icon_child {
    border: 1px solid black;
    padding: 17px 20px 17px 19px;
    border-radius:50%;
    border: none;
    color: #0065fc;
    background-color: #deebff;
}

.child {
    padding-left: 15px;
    padding-top: 20px;
    font-weight: bolder;
}
.filter_child:hover {
    background-color:#deebff;
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.2s all ease-in;
}    

.filter_love {
    display: flex;
    border: 3px solid black;
    margin-left: -16px;
    padding: 0px 30px 0px 0px;
    border-top-left-radius: 60px;
    border-left: none;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #dcdfdfd7;
}
.icon_love {
    border: 1px solid black;
    padding: 17px 20px 17px 19px;
    border-radius:50%;
    border: none;
    color: #0065fc;
    background-color: #deebff;
}
.love {
    padding-left: 15px;
    padding-top: 20px;
    font-weight: bolder;
}
.filter_love:hover {
    background-color:#deebff;
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.2s all ease-in;
}  

.filter_dog {
    display: flex;
    border: 3px solid black;
    margin-left:-18px; 
    padding: 0px 20px 0px 0px;
    border-top-left-radius: 60px;
    border-left: none;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: #dcdfdfd7;  
}
    
.icon_dog {
    border: 1px solid black;
    padding: 17px 20px 17px 19px;
    border-radius:50%;
    border: none;
    color: #0065fc;
    background-color: #deebff;
}

.dog {
    padding-left: 15px;
    padding-top: 20px;
    font-weight: bolder;
}
.filter_dog:hover {
    background-color:#deebff;
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.2s all ease-in;
}    

.info {
    display: flex;
    align-items: baseline;
    float: left;
}

.icone_info {
    border: 1px solid black;
    padding: 1px 6px 1px 6px;
    border-radius: 50%; 
    margin-right:8px;
    color: #0065fc;
    background-color: #fff;
    border-color: #dcdfdfd7;
    font-size: 0.8em;
    font-weight: lighter;
} 

h4 {
    font-weight: lighter;
    font-size: 1.4;
    font-style: normal;
}

/* mise en forme de la section hebergements */

.héberg_marseille {
    background-color:#f2f2f2 ;
    height: auto;
    flex: 75%;
    margin-right: 35px;
    border-radius: 20px;
}
    
.carte_héberg img {
    height: 100px;
    width: 270px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
    
.contenu_héberg {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-left: 35px;
   margin-right: 38.4px;
   
}

.carte_héberg {
    height: 194px;
    border-radius: 15px;
    background-color: #fff;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    flex-basis: 30%;
    margin-top: 20px;
    margin-left: 5px;
    margin-inline-end: 15px;
}
    
.carte_héberg:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc; 
    z-index: 1;
    box-shadow: 0px 0px 8px 3px rgb(200 200 200 .1);
    transition: 0.2s;
}  
    
.star_icon {
    display: inline-block;
    font-size: 10px;
    color: #0065fc;
}
.grey_star{
    color: grey;
}
    
h3,h6 {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
}  

h3, h6, p, div {
    box-sizing: border-box;
    margin :0;
    padding: 0;
   position: relative; 
}

.carte_héberg div,.carte_héberg p, .carte_héberg h3{
    margin-left: 10px;
}

.other_page {
    margin-top: 50px;
    margin-left: 25px;
    font-weight: bolder;
    padding-bottom: 18px;
}

/* Mise en forme du contenu les plus populaires */
.carte_héberg p, .contenu_populair p {
    font-size: 12px;
    font-weight: lighter;
}
.carte_héberg h3 {
    margin-block-start: 0.8em;
}
.carte_héberg p {
    margin-block-start: 0.8em;
}
.price {
    font-weight: bold;
}
.tittle_pop {
    display:flex;
    align-items: baseline;
}
.tittle1, .tittle2,.tittle3 {
    margin-left: 18px;
}
.chart_icon {
    margin-left: 25px;
    font-size: 1.5em;
    font-weight: bold;
}  

.carte_pop img {
    height: 130px;
    width: 100px;;
    object-fit: cover;
    float: left;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 18px; 
}
   
.carte_pop {
    width: 300px;
    margin-top: 18px;
    height: 135px;
    border-radius: 15px;
    background-color: #fff;
    padding: 5px 0px 0px 5px;
    box-shadow: 0px 2px 6px rgb(230 230 230);
    margin-left: 35px;
    border-radius: 20px;
}

.carte_pop p {
    padding-top: 5px;
}

.carte_pop p, .carte_pop h3 {
    margin-block-start: 0.8em;
    margin-inline-end: 0.8em; 
}
    
.contenu_populair {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.carte_pop:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc; 
    z-index: 1;
    box-shadow: 0px 0px 8px 3px rgb(200 200 200 .1);
    transition: 0.2s;
}  
   
.carte_pop h3 p div {
    float: right;
} 

.plus_populair {
    background-color: #f2f2f2;
    flex: 30%;
    border-radius: 20px;
}  

.principal {
    display: flex ;
    flex-direction: row;
    float: right;
    margin-bottom: 50px;
}
/* mise en forme du contenu "Activités à marseille" */

.activ1 img {
    object-fit: cover;
    width: 15vw;
    height: 18vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
.activ4 img {
    object-fit: cover;
    width: 15vw;
    height: 18vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
    
.activ2 img{
    object-fit: cover;
    width: 15vw;
    height: 8vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    
}
.activ3 img {
    object-fit: cover;
    width: 15vw;
    height: 6vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    margin-top: -30px;
}
.activ5 img {
    object-fit: cover;
    width: 15vw;
    height: 6.8vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
.activ6 img {
    object-fit: cover;
    width: 15vw;
    height: 6.9vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

.activ_list1 {
    display: flex;
    flex-direction: column;
    margin: 20px 0 15px -40px;
} 
.activ_list4 {
    display: flex;
    flex-direction: column;
    margin: 20px 0 15px -75px;
} 
.activ_list23 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0 15px -75px;
}

.activ_list56 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0 15px -80px;
}

.activités_list  {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    
} 
.activ1 {
    background-color: #fff;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 0 6px 0px #b1b1b1;
    box-sizing: content-box;
    width: 15vw;   
}
.activ1:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    color: #0065fc; 
    transition: 0.2s ;
    z-index: 1;
    overflow: hidden;
}
.activ4 {
    background-color: #fff;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 0 6px 0px #b1b1b1;
    box-sizing: content-box;
    width: 15vw;   
}
.activ4:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    color: #0065fc; 
    transition: 0.2s ;
    z-index: 1;
    overflow: hidden;
}
h6 {margin-bottom: 18px;
    margin-left: 25px;
    margin-top: 8px;
} 
.activ1 h6 {
    padding-bottom: 6px;
}
.activ4 h6 {
    padding-bottom: 5px;
}

.activ2 {
    flex-basis: 52%;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    padding: 0;
    border-radius: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    width: 15vw;
} 

.activ3 {
    flex-basis: 34%;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    padding: 0;
    margin-bottom: 0;
    border-radius: 20px;
    box-sizing: border-box;
    width: 15vw;
} 

.activ5 {
    flex-basis: 47%;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    padding: 0;
    margin-bottom: 28px;
    border-radius: 20px;
    box-sizing: border-box;
    width: 15vw;
}
.activ6 {
    flex-basis: 47%;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #b1b1b1;
    padding: 0;
    border-radius: 20px;
    box-sizing: border-box;
    width: 15vw;
}  

.activ2:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc;
    overflow-x: hidden;
    box-shadow: 0px 0px 6px 0px #b1b1b1;
    transition: 0.2s;
    z-index: 1;
}

.activ3:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc;
    overflow-x: hidden;
    box-shadow: 0px 0px 6px 0px #b1b1b1;
    transition: 0.2s;
    z-index: 1;
}
.activ5:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc; 
    overflow-x: hidden;
    box-shadow: 0px 0px 6px 0px #b1b1b1;
    transition: 0.2s;
    z-index: 1;
}
.activ6:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: #0065fc; 
    overflow-x: hidden;
    box-shadow: 0px 0px 6px 0px #b1b1b1;
    transition: 0.2s;
    z-index: 1;
}

/* mise en forme pied de page */
    
.footer_info, .footer_heberg, .footer_help{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    }
.footer_nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
h4 {
    margin-left: 18px;
    font-weight: bold;
}
.pied_page {
    margin-bottom: 12px;
}

.footer_heberg {
    margin-left: 106px;
    margin-right: 100px;
    margin-block-start: -35px;
}
.footer_help {
    margin-inline-end: 15em;
    margin-block-start: -35px;
}

.pied_page:hover {
    color: #0065fc;
} 
.footer {
    background-color: #f2f2f2;
    width: 100%;
}

         /* Media Queries */
@media screen and (min-width: 1390px) {
    header {
        margin-left: 60px;
    } 
    .activ1 img {
        object-fit: cover;
        width: 16vw;
        height: 21vw;
    }
    .activ4 img {
        object-fit: cover;
        width: 16vw;
        height: 21vw;
    }
    .activ2 img {
        object-fit: cover;
        width: 16vw;
        height: 11.8vw;
    }
    .activ3 img {
        object-fit: cover;
        width: 16vw;
        height: 5.8vw;
    }
    .activ5 img {
        object-fit: cover;
        width: 16vw;
        height: 10.2vw;
    }
    .activ6 img {
        object-fit: cover;
        width: 16vw;
        height: 7vw;
    }
    .activ1, .activ2, .activ3, .activ4, .activ5, .activ6 {
        width: 16vw;
    }
    h3, h6 {
        font-size: 16px;
    } 
    .carte_héberg p, .contenu_populair p {
        font-size: 14px;
    } 
   
}
@media screen and (min-width: 1160px) and (max-width: 1389px) {  
    
    header {
        margin-left: 70px;
    }
    .principal {
        display: flex ;
        flex-direction: column-reverse !important;
    }
    .plus_populair {
        margin-left: 70px;
        padding-bottom: 25px;
    }
    .tittle_pop {
        display: flex;
        align-items: baseline;
        margin-left: 43px;
    }
    .carte_pop {
        width: 90vw;
        height: 100%;
        margin-left: 20px;
    } 
    .héberg_marseille {
        flex: 100%;
    }
    .carte_héberg img {
        width: 293px;
    }
    .carte_héberg {
        flex-basis: 23%;
    }
    
    .activ1 img {
        object-fit: cover;
        width: 21vw;
        height: 27vw;
    }
    .activ4 img {
        object-fit: cover;
        width: 21vw;
        height: 27vw;
    }
    .activ2 img {
        object-fit: cover;
        width: 21vw;
        height: 12vw;
    }
    .activ3 img {
        object-fit: cover;
        width: 21vw;
        height: 8vw;
    }
    .activ5 img {
        object-fit: cover;
        width: 21vw;
        height: 10vw;
    }
    .activ6 img {
        object-fit: cover;
        width: 21vw;
        height: 11vw;
    }
    .activ1, .activ2, .activ3, .activ4, .activ5, .activ6  {
        width: 21vw;
    }
    h3, h6 {
        font-size: 16px;
    } 
    .carte_héberg p, .contenu_populair p {
        font-size: 14px;
    } 
}
@media screen and (min-width: 944px) and (max-width: 1159px) {
    header {
        margin-left: 70px;
    }
    .principal {
        display: flex ;
        flex-direction: column-reverse !important;
    }
    .tittle_pop {
        display: flex;
        align-items: baseline;
        margin-left: 43px;
    }
    .carte_pop {
        width: 90vw;
        height: 100%;
        margin-left: 20px;
    } 
    .héberg_marseille {
        flex: 100%;
    }
    .carte_héberg img {
        width: 261px;
    }
    .tittle1 {
        margin-left: 41px;
    }
    .carte_héberg {
        flex-basis: 25%;
    } 
    .carte_héberg img {
        height: 100px;
        width: 250px;
        object-fit: cover;
    }
    .search_button {
        width: 10%;
    }
    .form_demo {
        flex-wrap: nowrap;
    }
    h3, h6 {
        font-size: 16px;
    } 
    .carte_héberg p, .contenu_populair p {
        font-size: 14px;
    } 
    .activ1 img {
        object-fit: cover;
        width: 18vw;
        height: 32vw;
    }
    .activ2 img {
        object-fit: cover;
        width: 18vw;
        height: 14vw;
    }
    .activ3 img {
        object-fit: cover;
        width: 18vw;
        height: 8vw;
    }
    .activ4 img {
        object-fit: cover;
        width: 18vw;
        height: 32vw;
    }
    .activ5 img {
        object-fit: cover;
        width: 18vw;
        height: 9vw;
    }
    .activ6 img {
        object-fit: cover;
        width: 18vw;
        height: 11vw;
    }
    .activ1, .activ4 {
        width: 18vw;
        height: 39vw;
    }
    .activ2 {
        width: 18vw;
        flex-basis: 41%;
    }
    .activ3 {
        width: 18vw;
        flex-basis: 30%;
    }
    .activ5 {
        width: 18vw;
        flex-basis: 45%;
    }
    .activ6 {
        width: 18vw;
        flex-basis: 46%;
    }
    .footer_heberg {
        margin: 0;
        margin-block-start: -35px;
    }
        
} 


         
    
    
    

    
    
    
    

    
   
    

    
    
    




    
    
    

    
    
    
    

    

    
    







    
    
    
    
    
    

   
   
   

    

    
    


   
   
   
   



  





    
    
    
    
    

   
    
    
    
   
    
    
   



    
    



     
   
    







    

    








   
    
    
    



     



















    
   
    
    
    




    
   

    







   
   
   
    
    
    
    
    
   


    
    
    




    
    
    
    
    
    
   
       

  
       



   
    


 




















   

   

   
 
  


    



 

   
    


   
   

 
     
    

 
   
    
    



 

